@import "bootstrap";
@import "carts";
@import "categories";
@import "merchants";
@import "orders";
@import "products";
@import "reviews";

$primary-font: 'Roboto', sans-serif;
$primary-color: #288EBA;
$dark-color: #1D6787;
$secondary-color: #41AADB;
$light-gray: #E8F1F2;
$dark-blue: rgb(32, 93, 150);

$default-border: 2px solid;
body {
  margin:0;
  margin-top: 5em;
}
body, h1, h2, h3, h4, h5 {
  font-family: $primary-font;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a, h2, h3 {
  color: $primary-color;
}

a:hover {
  color: $dark-blue;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.table td {
  vertical-align: middle;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  margin: 0.7rem;
  font-size: 1.2em;
}