<section>
  <%  if @category.products%>
    <% @category.products.each do |product| %>
    <ul>
      <li><%= "#{product.name}" %> </li>
      <li><%= "price: #{product.price}" %> </li>
      <li><%= "Description: #{product.description}" %> </li>
      <li><%= product.stock %> </li>
    </ul>
    <% end %>
  <% end %>
</section>