<section>
  <div>
  
  
  <div>

  <div>
  <h2> <%= @product.name %>  </h2>

  <ul>
    <li><%= "price: #{@product.price}" %> </li>
    <li><%= "Description #{@product.description}" %> </li>
    <li><%= @product.stock %> </li>
  </ul>
  </div>
</section>